<canvas class="chart" id="bar-chart"></canvas>
<p>Diagrammet visar hur många exemplar av varje spel som sålts i intervall mellan 0-20000 och 500000+.</p>
<canvas class="chart" id="pie-chart"></canvas>
<p>Diagrammet visar antalet spel i olika prisintervall.</p>