<footer>
  <span>Data skapad av <a href="https://www.kaggle.com/datasets/nikdavis/steam-store-games" target="_blank">Nik Davis</a></span>
  <span>Skapad av Oliwer Ellréus | <a id="contact-email" href = "mailto: oe222ez@student.lnu.se">oe222ez@student.lnu.se</a></span>
</footer>